<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
	var infowindow = new google.maps.InfoWindow();
	var map;
	var markers = [];
	var me;
	var meMarker;
		
	function getMyLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				jqxhr = $.ajax({
						type: 'GET',
						url: "/mapper/find_closest_stations?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude,
						success: function(data) {
							me = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
							closestPt = null;
							contents = "<h2>You are here</h2>";
							if (jqxhr.status == 200) {
								closest = JSON.parse(jqxhr.responseText);
								if (closest.length > 0) {
									closestPt = new google.maps.LatLng(closest[0]['station']['stop_lat'], closest[0]['station']['stop_lon']);
									contents += "<p>The closest station to you is <strong>" + closest[0]['station']['stop_name'] + "</strong> which is approximately " + closest[0]['station']['distance'] + " miles away from you.";
								}
								else {
									contents += "<p>There is no MBTA train station near you.</p>";
								}
							}
							else {
								contents += "<p>Whoops, something went wrong!  Alas, cannot find closest MBTA train station to you.</p>";
							}
							meMarker = new google.maps.Marker({position: me, title: contents});
							meMarker.setMap(map);
							map.setCenter(me, 12);
							if (closestPt != null) {
								closestLine = new google.maps.Polyline({
									path: [me, closestPt],
									strokeColor: "#000000",
									strokeOpacity: 0.5,
									strokeWeight: 15
								});
								closestLine.setMap(map);
							}
							infowindow.setContent(meMarker.title);
							infowindow.open(map, meMarker);
						}
					});
			});
		}
		else {
			alert("Geolocation is not supported by your web browser.  What a shame!");
		}
	}
	
	function init() {
		// Middle of MBTA map
		centerMBTA = new google.maps.LatLng(42.330497742, -71.095794678);
			
		// Set up map
		myOptions = {
			zoom: 11, // The larger the zoom number, the bigger the zoom
			center: centerMBTA,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
				
		// Create the map in the "map_canvas" <div>
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 
 		// Create the markers
		tico = "images/t_icon.png";
		railico = "images/rail.png";
	
		<%
			@red.each do |s|
		%>
			pt = new google.maps.LatLng(<%= s.stop_lat%>, <%= s.stop_lon%>);
			markers.push(new google.maps.Marker({position: pt, title: "<%= s.stop_name%>", icon: tico}));
		<%
			end
		%>
		
		<%
			@orange.each do |s|
		%>
			pt = new google.maps.LatLng(<%= s.stop_lat%>, <%= s.stop_lon%>);
			markers.push(new google.maps.Marker({position: pt, title: "<%= s.stop_name%>", icon: tico}));
		<%
			end
		%>
		
		<%
			@blue.each do |s|
		%>
			pt = new google.maps.LatLng(<%= s.stop_lat%>, <%= s.stop_lon%>);
			markers.push(new google.maps.Marker({position: pt, title: "<%= s.stop_name%>", icon: tico}));
		<%
			end
		%>

		<%
			@commrail.each do |s|
		%>
			pt = new google.maps.LatLng(<%= s.stop_lat%>, <%= s.stop_lon%>);
			markers.push(new google.maps.Marker({position: pt, title: "<%= s.stop_name%>", icon: railico}));
		<%
			end
		%>
				
		// Render markers to map
		for (var m in markers) {
			markers[m].setMap(map);
			google.maps.event.addListener(markers[m], 'click', function() {
				stopName = this.title;
				mvcObj = this;
				jqxhr = $.ajax({
						type: 'GET',
						url: "/mapper/station_schedule.json?stop_name=" + stopName,
						success: function(data) {
							content = "<strong>" + stopName + "</strong>";
							results = JSON.parse(jqxhr.responseText);
							if (results.length > 0) {
								content += '<table id="schedule"><tr><th>Line</th><th>Trip #</th><th>Direction</th><th>Time Remaining</th></tr>';
								$.each(results, function() {
									content += '<tr><td>' + this['line'] + '</td><td>' + this['trip'] + '</td><td>' + this['direction'] + '</td><td>' + this['time_remaining'] + '</td></tr>';
								});
								content += '</table>';
							}
							else {
								content += "<p>No schedule of upcoming trains for this station.</p>";
							}
							infowindow.setContent(content);
							infowindow.open(map, mvcObj);
						}
					});
			});
		}
		getMyLocation();
	}
	</script>
</head>

<body onload="init()"> 
	<div id="map_canvas"></div>
</body>
