html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

table {
	border: 1;
}

#schedule {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	width: 100%;
}

#schedule tr th, td {
	border-right-color: black;
	border-bottom-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
}
