<!DOCTYPE html>

<html>
<head>
<title>MBTA</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<%= stylesheet_link_tag 'default' %>
<%= javascript_include_tag 'jquery-2.0.3.min' %>

<%= yield %>
</html>
